@font-face {
  font-family: tiltNeon;
  src: url("../fonts/TiltNeon-Regular.ttf");
}
@font-face {
  font-family: neonTubes2;
  src: url("../fonts/NeonTubes2.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 280px) {
  html {
    font-size: 50%;
  }
}
@media screen and (min-width: 320px) {
  html {
    font-size: 65%;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 70%;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 93%;
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 95%;
  }
}
@media screen and (min-width: 1440px) {
  /* Styles for medium to large desktops */
  html {
    font-size: 130%;
  }
}
@media screen and (min-width: 1992px) {
  html {
    font-size: 130%;
  }
}
body {
  background-image: url("../images/backgroundImage2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  font-family: tiltNeon;
}
@media screen and (max-width: 1024px) {
  body {
    background-position: center;
  }
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.landingPage-container {
  position: relative;
  z-index: 10;
  height: 100%;
  width: 100%;
}
.landingPage-container .landingPage {
  height: 100%;
  width: 100%;
}
.landingPage-container .landingPage-top {
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
@media screen and (max-width: 1024px) {
  .landingPage-container .landingPage-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
  }
}
.landingPage-container .landingPage-top-left {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: space-between;
  align-items: space;
  position: relative;
}
.landingPage-container .landingPage-top-left .imageLeftContainer {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .landingPage-container .landingPage-top-left {
    width: 100vw;
  }
}
.landingPage-container .landingPage-top-left-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 535px) {
  .landingPage-container .landingPage-top-left-content {
    align-items: flex-start;
  }
}
.landingPage-container .landingPage-top-left-content-outline {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
@media screen and (max-width: 992px) {
  .landingPage-container .landingPage-top-left-content-outline {
    display: none;
  }
}
.landingPage-container .landingPage-top-left-content-outline-invertedComma .invertedComma {
  height: 20dvh;
  width: auto;
  position: absolute;
  filter: brightness(0.75);
}
@media screen and (min-width: 1280px) {
  .landingPage-container .landingPage-top-left-content-outline-invertedComma .invertedComma {
    right: 18%;
    top: -11%;
    scale: 1;
    filter: hue-rotate(467deg);
  }
}
@media screen and (min-width: 992px) and (max-width: 1279px) {
  .landingPage-container .landingPage-top-left-content-outline-invertedComma .invertedComma {
    right: 12%;
    top: -11%;
    scale: 0.8;
    filter: hue-rotate(467deg);
  }
}
@media screen and (max-width: 992px) {
  .landingPage-container .landingPage-top-left-content-outline-invertedComma .invertedComma {
    display: none;
  }
}
.landingPage-container .landingPage-top-left-content-outline .outlineEffect {
  display: block;
  height: 82dvh;
  width: 65vw;
  filter: hue-rotate(475deg);
}
.landingPage-container .landingPage-top-left-content-smallOutline {
  position: absolute;
  width: 96vw;
  height: 90dvh;
  top: 54%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
}
@media screen and (max-width: 992px) {
  .landingPage-container .landingPage-top-left-content-smallOutline {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    height: 98dvh;
  }
}
.landingPage-container .landingPage-top-left-content-smallOutline .outlineContainer {
  position: relative;
}
.landingPage-container .landingPage-top-left-content-smallOutline .outlineContainer-invertedComma .smallInvertedComma {
  height: 20dvh;
  width: auto;
  position: absolute;
}
@media screen and (max-width: 992px) {
  .landingPage-container .landingPage-top-left-content-smallOutline .outlineContainer-invertedComma .smallInvertedComma {
    right: 2%;
    top: 1%;
    transform: scaleX(0.5) scaleY(0.5);
  }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  .landingPage-container .landingPage-top-left-content-smallOutline .outlineContainer-invertedComma .smallInvertedComma {
    right: 4%;
    top: 0%;
    filter: hue-rotate(467deg);
  }
}
@media screen and (min-width: 535px) and (max-width: 766px) {
  .landingPage-container .landingPage-top-left-content-smallOutline .outlineContainer-invertedComma .smallInvertedComma {
    right: 9%;
    top: 0%;
    filter: hue-rotate(467deg);
  }
}
@media screen and (min-width: 430px) and (max-width: 535px) {
  .landingPage-container .landingPage-top-left-content-smallOutline .outlineContainer-invertedComma .smallInvertedComma {
    right: 5%;
    top: 1%;
  }
}
@media screen and (max-width: 380px) {
  .landingPage-container .landingPage-top-left-content-smallOutline .outlineContainer-invertedComma .smallInvertedComma {
    right: 7%;
    top: 3%;
    transform: scaleX(0.5) scaleY(0.5);
    filter: hue-rotate(467deg);
  }
}
@media screen and (max-width: 361px) {
  .landingPage-container .landingPage-top-left-content-smallOutline .outlineContainer-invertedComma .smallInvertedComma {
    right: 2%;
    top: 2%;
    scale: 0.9;
    transform: scaleX(0.5) scaleY(0.5);
    filter: hue-rotate(467deg);
  }
}
@media screen and (max-width: 282px) {
  .landingPage-container .landingPage-top-left-content-smallOutline .outlineContainer-invertedComma .smallInvertedComma {
    right: 1%;
    top: 2%;
    scale: 0.9;
    transform: scaleX(0.5) scaleY(0.5);
  }
}
@media screen and (min-width: 400px) and (max-width: 535px) {
  .landingPage-container .landingPage-top-left-content-smallOutline .outlineContainer-invertedComma .smallInvertedComma {
    right: 4%;
    top: 1%;
    filter: hue-rotate(467deg);
  }
}
@media screen and (min-width: 374px) and (max-width: 400px) {
  .landingPage-container .landingPage-top-left-content-smallOutline .outlineContainer-invertedComma .smallInvertedComma {
    right: 4%;
    top: 1%;
    filter: hue-rotate(467deg);
  }
}
.landingPage-container .landingPage-top-left-content-smallOutline .outlineEffectSmall {
  width: auto;
  height: 88dvh;
}
@media screen and (max-width: 992px) {
  .landingPage-container .landingPage-top-left-content-smallOutline .outlineEffectSmall {
    width: 65vw;
    transform-origin: bottom;
    -o-object-fit: fill;
       object-fit: fill;
    filter: hue-rotate(475deg);
  }
}
@media screen and (min-width: 535px) and (max-width: 766px) {
  .landingPage-container .landingPage-top-left-content-smallOutline .outlineEffectSmall {
    width: 82vw;
  }
}
@media screen and (min-width: 381px) and (max-width: 535px) {
  .landingPage-container .landingPage-top-left-content-smallOutline .outlineEffectSmall {
    width: 92vw;
  }
}
@media screen and (max-width: 380px) {
  .landingPage-container .landingPage-top-left-content-smallOutline .outlineEffectSmall {
    width: 90vw;
  }
}
@media screen and (max-width: 321px) {
  .landingPage-container .landingPage-top-left-content-smallOutline .outlineEffectSmall {
    height: 98dvh !important;
  }
}
.landingPage-container .landingPage-top-left-content-important {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width:1400px) {
  .landingPage-container .landingPage-top-left-content-important {
    row-gap: 30px;
  }
}
.landingPage-container .landingPage-top-left-content-important-title p {
  color: #fff;
}
.landingPage-container .landingPage-top-left-content-important-paragraph p {
  width: 65%;
  text-transform: uppercase;
  color: white;
}
.landingPage-container .landingPage-top-left-content-important-paragraph p span {
  color: #f18f01;
}
@media (max-width:991.98px) {
  .landingPage-container .landingPage-top-left-content-important-paragraph p {
    font-size: 20px;
    width: 70%;
  }
}
@media (min-width:1400px) {
  .landingPage-container .landingPage-top-left-content-important-paragraph p {
    font-size: 62px;
  }
}
.landingPage-container .landingPage-top-left-content-important-button {
  color: white;
  padding: 16px 24px;
  font-size: 20px;
  border-radius: 25px;
  width: 30%;
  text-align: center;
}
.landingPage-container .landingPage-top-left-olderThan {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 3%;
  flex-direction: column;
  row-gap: 1.2rem;
  height: 60dvh;
  width: 47vw;
}
@media screen and (min-width: 1280px) {
  .landingPage-container .landingPage-top-left-olderThan {
    height: 60dvh !important;
  }
}
@media screen and (max-width: 992px) {
  .landingPage-container .landingPage-top-left-olderThan {
    font-size: 1.2rem;
    padding: 1.8rem 2.3rem;
    padding-bottom: 8%;
    row-gap: 0.9rem;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 767px) {
  .landingPage-container .landingPage-top-left-olderThan {
    font-size: 1.2rem;
    padding: 1.8rem 2.2rem;
    row-gap: 0.9rem;
    justify-content: flex-end;
    height: 73dvh !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1280px) {
  .landingPage-container .landingPage-top-left-olderThan {
    height: 60dvh !important;
  }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  .landingPage-container .landingPage-top-left-olderThan {
    padding: 2rem 5rem;
    row-gap: 2rem;
    width: 65vw;
    margin-top: 5%;
    justify-content: flex-end;
    height: 51dvh !important;
  }
}
@media screen and (min-width: 535px) and (max-width: 766px) {
  .landingPage-container .landingPage-top-left-olderThan {
    height: 55dvh !important;
    width: 76vw;
  }
}
@media screen and (min-width: 381px) and (max-width: 535px) {
  .landingPage-container .landingPage-top-left-olderThan {
    width: 86vw;
    padding: 0rem 2.2rem;
  }
}
@media screen and (max-width: 380px) {
  .landingPage-container .landingPage-top-left-olderThan {
    width: 84vw;
  }
}
@media screen and (max-width: 361px) {
  .landingPage-container .landingPage-top-left-olderThan {
    height: 77dvh !important;
  }
}
@media screen and (min-width: 1400px) {
  .landingPage-container .landingPage-top-left-olderThan {
    bottom: 10%;
    row-gap: 1.5rem;
  }
}
.landingPage-container .landingPage-top-left-olderThan-descriptionFirst {
  color: white;
  width: 85%;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.5;
}
.landingPage-container .landingPage-top-left-olderThan-descriptionFirst #actualQuestion {
  line-height: 1.5;
}
@media screen and (max-width: 321px) {
  .landingPage-container .landingPage-top-left-olderThan-descriptionFirst #actualQuestion {
    font-size: 12px;
  }
}
@media screen and (max-width: 992px) {
  .landingPage-container .landingPage-top-left-olderThan-descriptionFirst {
    width: 100%;
    text-align: left;
  }
}
@media (max-width:991.98px) {
  .landingPage-container .landingPage-top-left-olderThan-descriptionFirst {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 321px) {
  .landingPage-container .landingPage-top-left-olderThan-descriptionFirst {
    font-size: 12px !important;
  }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  .landingPage-container .landingPage-top-left-olderThan-descriptionFirst {
    font-size: 18px !important;
  }
}
.landingPage-container .landingPage-top-left-olderThan-descriptionFirst-thankYou {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 1rem;
}
@media screen and (max-width: 281px) {
  .landingPage-container .landingPage-top-left-olderThan-descriptionFirst-thankYou {
    font-size: 12px;
  }
}
.landingPage-container .landingPage-top-left-olderThan-title {
  text-transform: uppercase;
  background: transparent;
  text-align: center;
  width: 80%;
  font-size: 4rem;
  font-family: tiltNeon;
  font-weight: 500;
  color: rgb(213, 202, 7);
  text-shadow: 1px 1px 2px white, -1px -1px 2px white, 3px 3px 4px #FFF205, -3px -3px 4px #FFF205, 10px 10px 50px rgba(213, 202, 7, 0.2), -10px -10px 50px #FFF205;
  width: auto;
  line-height: 1.3;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen and (max-width: 992px) {
  .landingPage-container .landingPage-top-left-olderThan-title {
    width: 100%;
    text-align: left;
  }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  .landingPage-container .landingPage-top-left-olderThan-title {
    font-size: 5rem;
  }
}
.landingPage-container .landingPage-top-left-olderThan-checkBoxList {
  width: 100%;
  display: flex;
  margin-top: 8px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width:991.98px) {
  .landingPage-container .landingPage-top-left-olderThan-checkBoxList {
    font-size: 16px !important;
    width: 100%;
    justify-content: flex-start;
  }
}
@media (min-width:1400px) {
  .landingPage-container .landingPage-top-left-olderThan-checkBoxList {
    width: 70%;
  }
}
.landingPage-container .landingPage-top-left-olderThan-checkBoxList p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}
@media (max-width:991.98px) {
  .landingPage-container .landingPage-top-left-olderThan-checkBoxList p {
    font-size: 20px;
  }
}
@media (min-width:1400px) {
  .landingPage-container .landingPage-top-left-olderThan-checkBoxList p {
    font-size: 24px;
  }
}
.landingPage-container .landingPage-top-left-olderThan-checkBoxList div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  -moz-column-gap: 14px;
       column-gap: 14px;
  cursor: pointer;
}
@media (min-width:1400px) {
  .landingPage-container .landingPage-top-left-olderThan-checkBoxList div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
  }
}
@media (max-width:991.98px) {
  .landingPage-container .landingPage-top-left-olderThan-checkBoxList div {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media screen and (max-width: 321px) {
  .landingPage-container .landingPage-top-left-olderThan-checkBoxList div {
    font-size: 12px;
  }
}
.landingPage-container .landingPage-top-left-olderThan-checkBoxList div input {
  margin-top: 3px;
  display: none;
}
.landingPage-container .landingPage-top-left-olderThan-checkBoxList div .customCheckboxQuestion {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.landingPage-container .landingPage-top-left-olderThan-checkBoxList div .customCheckboxQuestion img {
  scale: 0;
  opacity: 0;
  height: 1rem;
  width: 1.25rem;
}
@media (max-width:991.98px) {
  .landingPage-container .landingPage-top-left-olderThan-checkBoxList div .customCheckboxQuestion img {
    height: 13px;
    width: 13px;
  }
}
.landingPage-container .landingPage-top-left-olderThan-checkBoxList div .customCheckboxQuestion_input:checked + .customCheckboxQuestion img {
  opacity: 1;
  scale: 0.8;
  color: #f7c5c5;
  color: black;
}
.landingPage-container .landingPage-top-left-olderThan-checkBoxList div label {
  color: white;
  position: relative;
  top: 0;
  cursor: pointer;
  white-space: nowrap;
}
@media screen and (max-width: 321px) {
  .landingPage-container .landingPage-top-left-olderThan-checkBoxList div label {
    font-size: 12px !important;
  }
}
.landingPage-container .landingPage-top-left-olderThan-choose {
  display: none;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1rem;
}
@media (max-width:991.98px) {
  .landingPage-container .landingPage-top-left-olderThan-choose {
    font-size: 16px !important;
    text-align: left;
  }
}
@media (max-width:560px) {
  .landingPage-container .landingPage-top-left-olderThan-choose {
    font-size: 14px !important;
  }
}
@media (max-width:380px) {
  .landingPage-container .landingPage-top-left-olderThan-choose {
    font-size: 12px !important;
  }
}
.landingPage-container .landingPage-top-left-olderThan-buttons {
  align-self: space-between;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
  -moz-column-gap: 8%;
       column-gap: 8%;
  width: 52%;
}
@media screen and (max-width: 992px) {
  .landingPage-container .landingPage-top-left-olderThan-buttons {
    width: 100%;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 535px) and (max-width: 766px) {
  .landingPage-container .landingPage-top-left-olderThan-buttons {
    width: 60%;
  }
}
.landingPage-container .landingPage-top-left-olderThan-buttons-left {
  align-items: center;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
  background: rgba(1, 217, 207, 0.2);
  outline: 1px solid #FFF205;
  filter: brightness(0.85);
  border: 1px solid #FFF205;
  box-shadow: 0 0 0 0.03vw #FFF205, 0 0 0 0.08vw white, 0 0 0 0.11vw #FFF205, 0 0 0.55vw #FFF205 inset, 0 0 0.55vw #FFF205 inset, 0 0 1.4vw #FFF205, 0 0 1.4vw #FFF205;
  padding: 0.6vw 2.8vw;
}
@media screen and (max-width: 767px) {
  .landingPage-container .landingPage-top-left-olderThan-buttons-left {
    font-size: 1.4rem;
    padding: 1.5vw 4vw;
    width: 50%;
  }
}
@media screen and (max-width: 982px) {
  .landingPage-container .landingPage-top-left-olderThan-buttons-left html {
    font-size: 50%;
  }
}
.landingPage-container .landingPage-top-left-olderThan-buttons-right {
  align-items: center;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 1px solid #FFF205;
  filter: brightness(0.85);
  font-size: 1.1rem;
  border: 1px solid #FFF205;
  background: rgba(1, 217, 207, 0.2);
  box-shadow: 0 0 0 0.03vw #FFF205, 0 0 0 0.08vw white, 0 0 0 0.11vw #FFF205, 0 0 0.55vw #FFF205 inset, 0 0 0.55vw #FFF205 inset, 0 0 1.4vw #FFF205, 0 0 1.4vw #FFF205;
  padding: 0.6vw 2.8vw;
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  color: #000;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 767px) {
  .landingPage-container .landingPage-top-left-olderThan-buttons-right {
    font-size: 1.4rem;
    padding: 1.5vw 4vw;
    width: 50%;
  }
}
.landingPage-container .landingPage-top-left-olderThan-buttons-right #noButton {
  color: white;
}
.landingPage-container .landingPage-top-left-olderThan-buttons-continue {
  align-items: center;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-attachment: fixed;
  background: rgba(1, 217, 207, 0.2);
  border: 1px solid #FFF205;
  outline: 1px solid #FFF205;
  filter: brightness(0.85);
  padding: 0.6vw 2.8vw;
  text-decoration: none;
  box-shadow: 0 0 0 0.03vw #FFF205, 0 0 0 0.08vw white, 0 0 0 0.11vw #FFF205, 0 0 0.55vw #FFF205 inset, 0 0 0.55vw #FFF205 inset, 0 0 1.4vw #FFF205, 0 0 1.4vw #FFF205;
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  display: none;
}
@media screen and (max-width: 767px) {
  .landingPage-container .landingPage-top-left-olderThan-buttons-continue {
    font-size: 1.4rem;
    padding: 1.5vw 4vw;
    width: 40%;
  }
}
.landingPage-container .landingPage-top-left-olderThan-buttons-continue img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
  display: block;
  width: 100%;
}/*# sourceMappingURL=main.css.map */